/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/Accessory.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/AccessoryManager.class
/TerrariaItems/target/classes/me/carson/terrariaItems/recipieManagers/AccessoryRecipeManager.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/Aglet.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/AncientFossil.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/Armor.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/ArmorManager.class
/TerrariaItems/target/classes/me/carson/terrariaItems/recipieManagers/ArmorRecipieManager.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/BandOfRegeneration.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/CloudInBottle.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/CobaltShield.class
/TerrariaItems/target/classes/me/carson/terrariaItems/toolFolder/tools/Cosmolight.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/CounterScarf.class
/TerrariaItems/target/classes/me/carson/terrariaItems/ListenersHandler/CraftBlockerListener.class
/TerrariaItems/target/classes/me/carson/terrariaItems/ListenersHandler/CustomCraftingListener.class
/TerrariaItems/target/classes/me/carson/terrariaItems/ListenersHandler/DatapackDownloader.class
/TerrariaItems/target/classes/me/carson/terrariaItems/materialsFolder/materials/DemoniteBar.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/GoldenCrown.class
/TerrariaItems/target/classes/me/carson/terrariaItems/materialsFolder/materials/Hellstone.class
/TerrariaItems/target/classes/me/carson/terrariaItems/materialsFolder/materials/HellstoneBar.class
/TerrariaItems/target/classes/me/carson/terrariaItems/ListenersHandler/ItemPlaceListener.class
/TerrariaItems/target/classes/me/carson/terrariaItems/toolFolder/tools/LifeCrystal.class
/TerrariaItems/target/classes/me/carson/terrariaItems/weaponsFolder/weapons/LightsBane.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/LuckyHorseshoe.class
/TerrariaItems/target/classes/me/carson/terrariaItems/toolFolder/tools/MagicMirror.class
/TerrariaItems/target/classes/me/carson/terrariaItems/materialsFolder/Material.class
/TerrariaItems/target/classes/me/carson/terrariaItems/recipieManagers/MaterialRecipieManager.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/moltenArmor/MoltenBoots.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/moltenArmor/MoltenChestplate.class
/TerrariaItems/target/classes/me/carson/terrariaItems/weaponsFolder/weapons/MoltenFury.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/moltenArmor/MoltenHelmet.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/moltenArmor/MoltenLeggings.class
/TerrariaItems/target/classes/me/carson/terrariaItems/toolFolder/tools/MomentumCapacitor.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/NeptunesShell.class
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/ObsidianSkull.class
/TerrariaItems/target/classes/plugin.yml
/TerrariaItems/target/classes/me/carson/terrariaItems/accesoryFolder/accessories/RedBalloon.class
/TerrariaItems/target/classes/me/carson/terrariaItems/ListenersHandler/ResourcePackHandler$1.class
/TerrariaItems/target/classes/me/carson/terrariaItems/ListenersHandler/ResourcePackHandler.class
/TerrariaItems/target/classes/me/carson/terrariaItems/toolFolder/tools/RodOfDiscord.class
/TerrariaItems/target/classes/me/carson/terrariaItems/materialsFolder/materials/Ruby.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/shadowArmor/ShadowGreaves.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/shadowArmor/ShadowHelmet.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/shadowArmor/ShadowLeggings.class
/TerrariaItems/target/classes/me/carson/terrariaItems/armourFolder/armors/shadowArmor/ShadowScalemail.class
/TerrariaItems/target/classes/me/carson/terrariaItems/ListenersHandler/SoundHandler.class
/TerrariaItems/target/classes/me/carson/terrariaItems/weaponsFolder/weapons/Stormbow.class
/TerrariaItems/target/classes/me/carson/terrariaItems/TerrariaItems.class
/TerrariaItems/target/classes/me/carson/terrariaItems/toolFolder/Tool.class
/TerrariaItems/target/classes/me/carson/terrariaItems/toolFolder/ToolManager.class
/TerrariaItems/target/classes/me/carson/terrariaItems/recipieManagers/ToolRecipeManager.class
/TerrariaItems/target/classes/me/carson/terrariaItems/TTCommand.class
/TerrariaItems/target/classes/me/carson/terrariaItems/weaponsFolder/weapons/Volcano.class
/TerrariaItems/target/classes/me/carson/terrariaItems/weaponsFolder/Weapon.class
/TerrariaItems/target/classes/me/carson/terrariaItems/weaponsFolder/WeaponManager.class
/TerrariaItems/target/classes/me/carson/terrariaItems/recipieManagers/WeaponRecipieManager.class
